{% extends "instagram/layout.html" %} 
{% comment %} 부모 레이아웃 상속 {% endcomment %}
{% comment %} UI관련 라이브러리 임포트 {% endcomment %}
{% load bootstrap4 %} 


{% block title %}
AI list
{% endblock title %}

{% block content %}
<form action = "" method = "get">
    <input type = "text" name = "q" , value = "{{q}}"/>
    <input type = "submit" value = "검색" />
</form>
{% comment %} url reverse {% endcomment %}
<a href = {% url "ai:ai_new" %} class = 'btn btn-primary'>새 추론</a>
<table class = "table table-bordered table-hover">
    <tbody>
        <tr>
            <td>
                user
            </td>
            <td>
                입력자료
            </td>
            
            <td>
                추론결과
            </td>
        </tr>
    {% for elem in ai_list %}
        
        <tr>
            <td>
                {{elem.user.username}}
            </td>
            <td>
                {% if elem.photo %}
                    <img src = {{elem.photo.url}} style = "width:200px"/>
                {% else %}
                    No photo
                {% endif %}
            </td>
            <td>
                <img src = {{elem.result.result_image_url}} style = "width:200px"/>
            </td>
            
            
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock content %}





