{% extends "instagram/layout.html" %} 
{% comment %} 부모 레이아웃 상속 {% endcomment %}
{% comment %} UI관련 라이브러리 임포트 {% endcomment %}
{% load bootstrap4 %} 

{% block title %}
{% endblock title %}

{% block content %}
<form action "http://192.168.1.141:8000/inference/" method = "post" enctype = "multipart/form-data">
    {% comment %} <form action "" method = "post" enctype = "multipart/form-data"> {% endcomment %}
    {% csrf_token %}
    <table>
        {{form}}
    </table>
    <input type = "submit" value= "저장"/>
</form>
{% endblock content %}